@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0 auto;
  /* max-width: 1100px; */
  background: rgb(16,0,36);
  background: linear-gradient(90deg, rgba(16,0,36,1) 0%, rgba(93,13,164,1) 56%, rgb(195, 0, 255) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 90vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color:rgb(67, 0, 126);
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 4vw;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
  text-shadow: -1px 0 rgb(195, 0, 255), 0 1px rgb(195, 0, 255), 1px 0 rgb(195, 0, 255), 0 -1px rgb(195, 0, 255);
}